.container {
    margin: 70px 30px 0px 30px;
}

.listContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    flex-flow: row wrap;
}

@media screen and (max-width: 1200px) {

    .listContainer {
        display: flex;
        flex-flow: row wrap;
        padding-right: 40px;

        border: #4085d3 2px solid;
    }

}

.brandIcon {
    background-color: #bebaba;
    text-align: center;

    justify-content: center;
}

.brandIcon a:hover {
    color: #4085d3;
}