.container {
    display: flex;
    flex-flow: row;

    padding: 30px 0px 30px 0px;
    /*border: black solid 1px;*/
}

.textPart {
    width: 60%;
    float: left;

    text-align: left;

    /*border: blue 2px solid;*/
}

.imgPart {
    width: 40%;
    float: right;

    /*border: green 2px solid;*/
    text-align: center;

}

.imgPart img {
    height: 150px;
}

.textPart h3 {
    margin-top: 0px;
}